<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.artgallery.dao.IArtworkDao">
    <sql id="search">
        <where>
            <choose>
                <when test="filter.hasDisplay">
                    AND displayyn = #{filter.displayyn}
                </when>
                <otherwise>
                    AND displayyn = 'Y'
                </otherwise>
            </choose>
            <if test="filter.hasCategory">
                AND category = #{filter.category}
            </if>
            <if test="filter.hasSearch">
                AND (name LIKE CONCAT('%', #{filter.search}, '%') OR artist LIKE CONCAT('%', #{filter.search}, '%'))
            </if>
        </where>
    </sql>

    <insert id="createArtwork" parameterType="com.team4.artgallery.dto.ArtworkDto"
            useGeneratedKeys="true" keyProperty="aseq">
        INSERT INTO artwork
        (name, category, artist, year, material, size, displayyn, content, image, savefilename)
        VALUES (#{name}, #{category}, #{artist}, #{year}, #{material},
                #{size}, #{displayyn}, #{content}, #{image}, #{savefilename})
    </insert>

    <select id="getArtwork" parameterType="int" resultType="com.team4.artgallery.dto.ArtworkDto">
        SELECT *
        FROM artwork
        WHERE aseq = #{aseq}
    </select>

    <select id="getArtworks" parameterType="com.team4.artgallery.util.Pagination"
            resultType="com.team4.artgallery.dto.ArtworkDto">
        SELECT *
        FROM artwork
        ORDER BY aseq DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getRandomArtworks" parameterType="int" resultType="com.team4.artgallery.dto.ArtworkDto">
        SELECT *
        FROM artwork
        ORDER BY RAND()
        LIMIT #{limit}
    </select>

    <select id="searchArtworks" resultType="com.team4.artgallery.dto.ArtworkDto">
        SELECT *
        FROM artwork
        <include refid="search"/>
        ORDER BY aseq DESC
        LIMIT #{pagination.limit} OFFSET #{pagination.offset}
    </select>

    <select id="countArtworks" resultType="int">
        SELECT COUNT(*)
        FROM artwork
    </select>

    <select id="countSearchArtworks" resultType="int">
        SELECT COUNT(*)
        FROM artwork
        <include refid="search"/>
    </select>

    <update id="updateArtwork" parameterType="com.team4.artgallery.dto.ArtworkDto">
        UPDATE artwork
        SET name        = #{name},
            category    = #{category},
            artist      = #{artist},
            year        = #{year},
            material    = #{material},
            size        = #{size},
            displayyn   = #{displayyn},
            content     = #{content},
            image       = #{image},
            savefilename= #{savefilename}
        WHERE aseq = #{aseq}
    </update>

    <update id="toggleArtworkDisplay" parameterType="int">
        UPDATE artwork
        SET displayyn = IF(displayyn = 'Y', 'N', 'Y')
        WHERE aseq = #{aseq}
    </update>

    <delete id="deleteArtwork" parameterType="int">
        DELETE
        FROM artwork
        WHERE aseq = #{aseq}
    </delete>

    <delete id="deleteArtworks" parameterType="list">
        DELETE
        FROM artwork
        WHERE aseq IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>