<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.artgallery.dao.IFavoriteDao">

    <select id="isFavorite" resultType="boolean">
        SELECT EXISTS(SELECT *
                      FROM favorite_artwork
                      WHERE id = #{memberId}
                        AND aseq = #{aseq})
    </select>

    <select id="getFavorites" resultType="com.team4.artgallery.dto.FavoriteDto">
        SELECT *
        FROM favorite_view
        WHERE member_id = #{memberId}
        LIMIT #{pagination.limit} OFFSET #{pagination.offset}
    </select>

    <select id="countFavorites" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM favorite_artwork
        WHERE id = #{memberId}
    </select>

    <update id="toggleFavorite" statementType="CALLABLE" parameterType="map">
        {CALL toggle_favorite_artwork(#{memberId, mode=IN, jdbcType=VARCHAR, javaType=String},
                                      #{aseq, mode=IN, jdbcType=INTEGER, javaType=int},
                                      #{result, mode=OUT, jdbcType=BOOLEAN, javaType=boolean})}
    </update>

</mapper>