<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.artgallery.dao.IMemberDao">
    <sql id="search">
        <where>
            <if test="search != null and search != ''">
                id LIKE CONCAT('%', #{search}, '%')
                OR name LIKE CONCAT('%', #{search}, '%')
                OR email LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </sql>

    <insert id="createMember" parameterType="com.team4.artgallery.dto.MemberDto">
        INSERT INTO member (id, pwd, name, email, phone)
        VALUES (#{id}, #{pwd}, #{name}, #{email}, #{phone})
    </insert>

    <select id="getMember" parameterType="String" resultType="com.team4.artgallery.dto.MemberDto">
        SELECT *
        FROM member
        WHERE id = #{id}
    </select>

    <select id="getMembers" parameterType="com.team4.artgallery.util.Pagination"
            resultType="com.team4.artgallery.dto.MemberDto">
        SELECT *
        FROM member
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="searchMembers" resultType="com.team4.artgallery.dto.MemberDto">
        SELECT *
        FROM member
        <include refid="search"/>
        ORDER BY id DESC
        LIMIT #{pagination.limit} OFFSET #{pagination.offset}
    </select>

    <select id="countMembers" resultType="Integer">
        SELECT COUNT(*)
        FROM member
    </select>

    <select id="countSearchMembers" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        <include refid="search"/>
    </select>

    <update id="updateMember" parameterType="com.team4.artgallery.dto.MemberDto">
        UPDATE member
        SET pwd   = #{pwd},
            name  = #{name},
            email = #{email},
            phone = #{phone}
        WHERE id = #{id}
    </update>

    <update id="grantAdminMembers" parameterType="list">
        UPDATE member
        SET adminyn = 'Y'
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="revokeAdminMembers" parameterType="list">
        UPDATE member
        SET adminyn = 'N'
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="deleteMember" parameterType="String">
        DELETE
        FROM member
        WHERE id = #{id}
    </delete>

    <delete id="deleteMembers" parameterType="list">
        DELETE
        FROM member
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>