@charset "UTF-8";

/* artworkList.jsp */
.artwork-list-header {
    width: 80%;
    margin: 3rem auto;
    border-bottom: 2px solid gray;
}

.artwork-list-main {
    width: 80%;
    margin: 3rem auto;
}

.artwork-search-form {
    display: flex;
    flex-direction: column;
}

.artwork-search-form > h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.artwork-search-form > div {
    display: flex;
    justify-content: center;
}

.artwork-search-form_input {
    width: 30%;
    margin-right: 1rem;
}

.artwork-search-form_input:focus {
    border-bottom: 2px solid black;
}

.artwork-search-form_btn {
    width: 10%;
    cursor: pointer;
}

/* artworkList.jsp 카테고리 버튼 스타일 =====>*/
.category-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.artwork-list_btn {
    width: 7rem;
    height: 3rem;
    align-content: center;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
    margin: 0.5rem 0.5rem;
    box-shadow: 1px 1px 2px gray;
    transition: 0.3s;
}

.artwork-list_btn:hover {
    background-color: black;
    color: white;
}

.artwork-list_selected-btn {
    background-color: black;
    color: white;
}

/* <========================= */
.artwork-list-head {
    display: flex;
    justify-content: space-between;
}

.artwork-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.artwork-list > div {
    width: 20rem;
    height: 30rem;
    padding: 0.5rem;
    margin: 2.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.artwork-list > div:hover {
    text-decoration: underline;
}

.artwork-list_info {
    height: 10%;
}

.artwork-list_img {
    max-width: 100%;
    max-height: 85%;
    height: auto;
    margin: auto 0;
}

.artwork-list p {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

/* artworkView.jsp */
.artwork-view {
    width: 80%;
    margin: 0 auto;
}

.artwork-view-title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.artwork-view-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2px solid gray;
}

/* artworkView.jsp 버튼 스타일 =====>*/
.artwork-view_btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.artwork-view_btn > input {
    padding: 0;
    width: 7rem;
    height: 3rem;
    align-content: center;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
    margin: 0 0.5rem;
    box-shadow: 1px 1px 2px gray;
    transition: 0.3s;
    cursor: pointer;
}

.artwork-view_btn > input:hover {
    background-color: black;
    color: white;
}

/* <==============================*/
.artwork-view_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.artwork-view_img > img {
    width: 50%;
    padding-bottom: 3rem;
}

.artwork-view_img > span {
    font-size: 1rem;
    color: gray;
}

.artwork-view_info {
    border-top: 2px solid gray;
}

.artwork-view_info li {
    display: flex;
    margin: 2.5rem 2rem;
    font-size: 1.2rem;
}

.artwork-view_info li > span:first-child {
    flex: 1;
    font-weight: bold;
}

.artwork-view_info li > span:last-child {
    flex: 6;
}

.artwork-view_content {
    border-top: 1px solid gray;
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem 2rem;
    text-indent: 1rem;
}

/* artworkWriteForm.jsp */
.artwork-write-form-header {
    width: 80%;
    margin: 0 auto;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    border-bottom: 2px solid gray;
}

.artwork-write-form-main {
    width: 80%;
    margin: 0 auto;
}

.artwork-write-form {
    width: 100%;
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.artwork-write-form_info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.artwork-write-form_info input[type="text"], .artwork-write-form_info input[type="file"],
.artwork-write-form_info select {
    width: 15rem;
    height: 2rem;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-left: 1rem;
    align-content: center;
    outline: none;
}

.artwork-write-form_info input[type="checkbox"],
.artwork-write-form_info input[type="radio"] {
    width: 1rem;
    align-content: center;
    margin-left: 1rem;
}

.artwork-write-form_info > ul, .artwork-write-form_info > div {
    width: 50%;
}

.artwork-write-form_info li {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.artwork-write-form_info > div {
    display: flex;
    justify-content: flex-end;
}

.artwork-write-form_info li > div, .artwork-write-form_info > div > div {
    width: 20%;
    height: 2rem;
    align-content: center;
    font-weight: bold;
}

.artwork-write-form_info label {
    width: 5rem;
    font-size: 1rem;
    align-content: center;
    margin-left: 5px;
}

.artwork-write-form-btn > input {
    cursor: pointer;
}

.artwork-write-form-btn > input:hover {
    border-bottom: solid black 2px;
}

.artwork-write-form img {
    max-width: 700px;
}

.artwork-write-form textarea {
    width: 40rem;
    height: 30rem;
    font-size: 1rem;
    background-color: #8b8b8b1c;
    color: black;
    resize: none;
    border: none;
    border-bottom: 2px solid #0000007e;
    outline: none;
    padding: 1rem;
}